.div-table {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}
.div-all-date{
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    background-color: #b2c9cf;
    border-radius: 5px;
}
.ul-all-data{
    list-style-type: none;
    padding: 0;
}
.li-img{
    width: 120px;
    height: auto;
}